<p>
  <a href="{{site.swc_site}}">The Carpentries</a>
  teach foundational computational and data science skills through short, impactful workshops. We aim to help 
  communities get their work done
  in less time and with less pain
  by teaching them useful computing skills.
  This hands-on workshop will introduce you to the Carpentries methodologies and operations and provide a 
  venue to discuss how to build a Carpentries program at your institution.
</p>

<p>Join us for an interactive workshop focused on how to get started with 
  Library Carpentry, Data Carpentry and/or Software Carpentry at your institutions. In typical 
  Carpentries style, we’ll have a group of expert helpers available to guide 
  you through activities to develop a plan for getting active with the Carpentries 
  yourself, starting a Carpentries workshop program at your institution, and building and 
  maintaining a local Carpentries community. We’ll talk about things like:
  <ul>
    <li>Ways for individuals to get involved with the Carpentries</li>
    <li>How to get started hosting workshops on your campus</li>
    <li>How and why to find partners and collaborators</li>
    <li>How the Carpentries fit into the mission of your organization</li>
    <li>How to build a community to sustain these activities’</li>
  </ul>
  Participants will be encouraged to interact with one another
  and to apply what they have learned to their own particular situations.
</p>

