<p>
  <a href="{{site.swc_site}}">The Carpentries</a>
  teach researchers foundational computational and data science skills through short, impactful workshops. We aim to help 
  researchers get their work done
  in less time and with less pain
  by teaching them basic research computing skills.
  This hands-on workshop will introduce you to the Carpentries methodologies and operations and provide a 
  venue to discuss how to build a Carpentries program at your institution.

  Participants will be encouraged to interact with one another
  and to apply what they have learned to their own particular situations.
</p>
<p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>
